{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'broker/main.css' %}">

        <title>Advance Real Estate</title>

</head>
<body>

    <div class="topnav">
      <a href="{% url 'index' %}">AdVance Real Estate</a>
      <a href="{% url 'fun' %}" class="split">About Omaha</a>
      <a href="{% url 'browse' %}" class="split">Browse</a>
      <a href="{% url 'about' %}" class="split">About</a>
      <a href="{% url 'index' %}" class="split">Home</a>
    </div>



    <div>{% block content %}{% endblock %}</div>

</body>
</html>