{% extends "broker/base.html" %}
{% block content %}
<div style="padding-left: 50px; padding-right: 50px">
    <div>
        <img src="../media/fun_pic/omaha.jpg" style="width:600px; height:300px; float:left; margin-right: 50px">
        <div style="text-align: center; font-size: 35px">
            <h1>Welcome to Omaha</h1>
            <p>Omaha offers plenty of opportunities to spice up your fall. So pack your bags and come ready for fun...and prepare for the unexpected in Omaha.</p>
        </div>
    </div>
    <hr>
    <div>
        <table>
            <tr>
                <th><h3>Omaha Area Events</h3></th>
                <th><h3>Places to Visit</h3></th>
                <th><h3>Great Places to Eat</h3></th>
                <th><h3>Family Activities</h3></th>
            </tr>
            <tr>
                <td>Nov 24, 2022 - Jan 02, 2023 <a href="https://www.holidaylightsfestival.org">Holiday Lights Display</a></td>
                <td><img src="../media/fun_pic/riverfront.jpg" style="width:50px; height:50px; float:left; margin-right: 5px"> The Riverfront  900 Farnam St Omaha’s newest downtown park</td>
                <td><img src="../media/fun_pic/spezia.jpg" style="width:50px; height:50px; float:left; margin-right: 5px"> Spezia 3125 S. 72nd Italian food in a warm, modern setting</td>
                <td><img src="../media/fun_pic/zoo.jpg" style="width:50px; height:50px; float:left; margin-right: 5px"> Henry Doorly Zoo 3701 S. 10th One of the top zoos in the country</td>
            </tr>
            <tr>
                <td>June 2 - 4, 2023 <a href="https://festivalnet.com/14621/Omaha-Nebraska/Food-Festivals/Taste-of-Omaha-Festival"><br>Taste of Omaha</a></td>
                <td><img src="../media/fun_pic/bridge.jpg" style="width:50px; height:50px; float:left; margin-right: 5px"> Bob Kerrey Pedestrian Bridge 750 Riverfront Dr.  Stand between two states at once</td>
                <td><img src="../media/fun_pic/mertz.jpg" style="width:50px; height:50px; float:left; margin-right: 5px"> V. Mertz 1022 Howard St.   One of Omaha’s best, located in the Old Market</td>
                <td><img src="../media/fun_pic/cws.jpg" style="width:50px; height:50px; float:left; margin-right: 5px"> College World Series 1202 Bert Murphy Ave.   Watch college teams play baseball</td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}